{% extends 'temp/user_free.html' %}
{% block base %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>CHAT</title>
</head>
<body>
<center>
<div class="col-lg-5 col-md-6 mb-5" style="background-color:#194376">
                    <br>
            <h4 class="text-white mb-4">MERCHANT LIST</h4>


                <table class="table" border="1">
                        <tr class="btn-secondary">
                            <td>Name</td>
                        </tr>

                    {% for i in u %}

                        <tr class="bg-light">
                            <td><a href="/chat/con/{{ i.merchant_id }}"><img src="/static/av.png" alt="Avatar" style="border-radius: 50%; height: 30px; width:30px;">&nbsp;&nbsp;{{ i.name }}</a></td>
                        </tr>

                    {% endfor %}

                </table>
                    <br>
            </div>
</center>
</body>
</html>
{% endblock %}