{% extends 'temp/merchant_free.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
<center>
	<h1>View And Update Normal Order Status</h1>
	<table border="1">
		<tr>
			<td>Product Name</td>
			<td>Quantity</td>
			<td>Price</td>
			<td>Status</td>
		</tr>
        {% for i in i %}
		<tr>
			<td>{{ i.product.product_name }}</td>
			<td>{{ i.quantity }}</td>
			<td>{{ i.amount }}</td>
			<td>{{ i.status }}</td>
			<td><a href="/normal_order/updtnrmlsts/{{ i.order_id }}">Update</a></td>
			
		</tr>
        {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}