{% extends 'temp/user_free.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>payment</title>
</head>
<body>
	<form method="post">
        {% csrf_token %}
		<table>
            <tr>
                <td>Amount</td>
                <td><input type="text" name="pc"></td>
            </tr>
            <tr>
                <td>Payment methods:</td>
                <td>:</td>
            </tr>
			<tr>
				<td><input type="radio" name="upi" value="UPI"></td>
				<td>UPI</td>
			</tr>
			<tr>
				<td><input type="radio" name="upi" value="Wallet/Postpaid"></td>
				<td>Wallet/PostPaid</td>
			</tr>
			<tr>
				<td><input type="radio" name="upi" value="Net Banking"></td>
				<td>Net Banking</td>
			</tr>
			<tr>
				<td><input type="radio" name="upi" value="Cash On Delivary"></td>
				<td>Cash On Delivery</td>
			</tr>
            <tr>
                <td></td><td></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="plcordr" value="Place Order"></td>
            </tr>
			</table>
	</form>
</body>
</html>
{% endblock %}